#cover-photo{
    background-image: url(./427887450_2215181178832044_4622282939717372234_n.jpg);
    background-repeat: no-repeat;
    height: 350px;
    background-color: #cccccc;
    background-size: cover;
}